.blueBackground {
	background-color: #99badd;
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
}
.greyBackground {
	background-color: #d4d4d4;
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
}

footer {
		font-family: 'Raleway', sans-serif;
}
h1 {
	font-family: 'Raleway', sans-serif;
}

time {
	background-color: #00334E;
	color: #d4d4d4;
}
